@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@using (Html.BeginForm("EditAdmin", "Authorization", FormMethod.Post)) //metod,controller,ne yapinca calissin
{
<div class="form-group">
    <br />

    @Html.HiddenFor(x => x.AdminID, new { style = "display: none" })

    <br />
    @Html.Label("Admin Kullanıcı Adı")
    @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })

    <br />
    @Html.HiddenFor(x => x.AdminPassword, new { @class = "form-control" })

    <br />
    @Html.Label("Rol")
    @Html.DropDownListFor(x => x.AdminID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })

    <br />
    <button id="btn1" class="btn btn-success">Güncelle</button>

</div>
    <script>
    $('#btn1').click(function () {
        swal("Güncellendi!", "Başarılı bir şekilde güncellendi!", "success");
    });
    </script>

}

