@using EntityLayer.Concrete
@model List<Heading>
@{
    ViewBag.Title = "GetListByCategoryId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ string color = "";
    string status = "";
}


<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Başlık İşlemleri</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Başlık Adı
                            </th>
                            <th style="width: 15%">
                                Yazar
                            </th>
                            <th style="width: 15%">
                                Durum
                            </th>
                            <th style="width: 8%" class="text-center">
                                Kategori
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            if (item.Category.CategoryName == "Seyahat")
                            {
                                color = "badge badge-warning";
                            }
                            else if (item.Category.CategoryName == "Spor")
                            {
                                color = "badge badge-success";
                            }
                            else if (item.Category.CategoryName == "Yazılım")
                            {
                                color = "badge badge-info";
                            }
                            else if (item.Category.CategoryName == "Kitap")
                            {
                                color = "badge badge-secondary";
                            }
                            else if (item.Category.CategoryName == "Kahve")
                            {
                                color = "badge badge-primary";
                            }
                            else if (item.Category.CategoryName == "Sanat")
                            {
                                color = "badge badge-success";
                            }


                            <tr>
                                <td>
                                    @item.HeadingID
                                </td>
                                <td>
                                    <a>
                                        @item.HeadingName
                                    </a>
                                    <br />
                                    <small>
                                        @(((DateTime)item.HeadingDate).ToString("dd-MMM-yyyy"))
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="@item.Writer.WriterImage">
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    @if (item.HeadingStatus == true)
                                    {
                                        status = "Aktif";
                                    }
                                    else if (item.HeadingStatus == false)
                                    {
                                        status = "Pasif";
                                    }
                                    @status
                                </td>
                                <td class="project-state">
                                    <span class="@color">@item.Category.CategoryName</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/Content/ContentByHeading/@item.HeadingID">
                                        <i class="fas fa-folder">
                                        </i>
                                        İçerik
                                    </a>
                                    <a class="btn btn-info btn-sm" href="/Heading/EditHeading/@item.HeadingID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/Heading/DeleteHeading/@item.HeadingID">
                                        @if (item.HeadingStatus == true)
                                        {
                                            status = "Pasif Et";
                                        }
                                        else if (item.HeadingStatus == false)
                                        {
                                            status = "Aktif Et";
                                        }
                                        <i class="fas fa-trash">
                                        </i>
                                        @status
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
    <a href="/Heading/AddHeading" class="btn btn-info">Yeni Başlık Girişi</a>
</body>
</html>



